.title {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-family: "IBM Plex Mono", serif;
    font-weight: 900;
    font-style: normal;
    color: #1d1f5e;
}
.title2 {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    font-family: "IBM Plex Mono", serif;
    font-weight: 300;
    font-style: normal;
    color: #1d1f5e;
}

.menu {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;  
    font-family: "IBM Plex Mono", serif;
    font-weight: 500;
    font-style: italic;
}
.image1 {
width: 35vw;
}
.image2 {
    width: 35vw;
    }
.image1 {
width: 35vw;
}
.image3 {
    width: 35vw;
    }
.image4 {
    width: 35vw;
}
.image5 {
    width: 35vw;
}
.photos {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
.block1{
    margin:0 auto;
    display:block;
    text-align:center;
    position:relative;
}
.block1 .text1{
    opacity:0;
    position:absolute;
    bottom:0%;
    left:50%;
    transform:translate(-50%, 0);
    transition: 0.5s;
    width:98%;
    font-size:20px;
    background-color:rgba(244, 152, 173, 0.5);
    padding:10px 5px;
    color:#fff;
}
.block1:hover .text1{
    opacity:1;
}
.block2{
    margin:0 auto;
    display:block;
    text-align:center;
    position:relative;
}
.block2 .text2{
    opacity:0;
    position:absolute;
    bottom:0%;
    left:50%;
    transform:translate(-50%, 0);
    transition: 0.5s;
    width:98%;
    font-size:20px;
    background-color:rgba(244, 152, 173, 0.5);
    padding:10px 5px;
    color:#fff;
}
.block2:hover .text2{
    opacity:1;
}
.block3{
    margin:0 auto;
    display:block;
    text-align:center;
    position:relative;
}
.block3 .text3{
    opacity:0;
    position:absolute;
    bottom:0%;
    left:50%;
    transform:translate(-50%, 0);
    transition: 0.5s;
    width:98%;
    font-size:20px;
    background-color:rgba(244, 152, 173, 0.5);
    padding:10px 5px;
    color:#fff;
}
.block3:hover .text3{
    opacity:1;
}
.block4{
    margin:0 auto;
    display:block;
    text-align:center;
    position:relative;
}
.block4 .text4{
    opacity:0;
    position:absolute;
    bottom:0%;
    left:50%;
    transform:translate(-50%, 0);
    transition: 0.5s;
    width:98%;
    font-size:20px;
    background-color:rgba(244, 152, 173, 0.5);
    padding:10px 5px;
    color:#fff;
}
.block4:hover .text4{
    opacity:1;
}
.block5{
    margin:0 auto;
    display:block;
    text-align:center;
    position:relative;
}
.block5 .text5{
    opacity:0;
    position:absolute;
    bottom:0%;
    left:50%;
    transform:translate(-50%, 0);
    transition: 0.5s;
    width:98%;
    font-size:20px;
    background-color:rgba(244, 152, 173, 0.5);
    padding:10px 5px;
    color:#fff;
}
.block5:hover .text5{
    opacity:1;
}